<div class="container">
  <div class="row col-12 col-md-10 col-lg-10 px-sm-0 mx-auto">
  <h2 class='page_title mb-4'>注文履歴一覧</h2>
    <%= render 'index', orders: @orders %>
  </div>
    <div>
      <%= paginate @orders %>
    </div>
</div>
