<div class="container">
  <h2 class='page_title mt-4'>注文情報入力</h2>
  <div class="row mt-4">
    <div class="ml-5 mb-5">
      <%= render partial: 'form', locals: { order: @order, customer: current_customer} %>
    </div>
  </div>
</div>

