<div class="cotainer">
  <div class="row">
    <div class="top-visual mx-auto my-5 p-5 col-8">
        <p class="top-visual-content mx-auto col-7">
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </p>
    </div>
  </div>
</div>

<h2 class="offset-md-3">新着商品</h2>
<div class="cotainer">
  <div class="row">
    <div class="mx-auto d-flex">
      <% @items.first(4).each do |item| %>
        <div class="mx-3">
          <%= attachment_image_tag item, :image, size: '200x150', format: 'jpeg', fallback: "img/no_image.jpg" %><br>
          <div class="my-3">
            <%= item.name %><br>
          </div>
          ¥<%= (item.price).to_s(:delimited) %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="cotainer">
  <div class="row">
    <div class="text-right">
      <%= link_to "全ての商品を見る>", items_path %>
    </div>
  </div>
</div>