<p>配送先登録/一覧</p>


<%= form_with model:@address local: true do |f| %>
  <div class='form-group'>
    <% f.label :postal_code, '郵便番号(ハイフンなし)' %>
    <%= f.text_field :postal_code, autofocus: true, autocomplete: 'postal_code',class: 'form_controller' %>
  </div>
  <%= f.text_field %>
  <%= f.submit '新規登録' class:'btn btn-succeess px-2' %>
<% end %>
