/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 header, nav, body, footer, p, a {
  font-family: 'HanziPen TC', 'Sawarabi Mincho', 'Teko', 'arial narrow', "Segoe Print",  sans-serif;
 }

 .about-title {
  font-size: 60px;
 }

 .top-color {
  background-color: #FFF0F5;
 }

  .top-visual {
  background-image: url(img/Strawberry7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
 }

.top-visual-content{
  width: 40%;
  height: 500px;
  text-align: center;
  padding-top: 180px;
  background-color: rgba(255,255,255,0.8);
}

 .cake-image {
  height: 200px;
  width: 400px;
 }

 body{
  background-image: url(img/bg-image-s.jpg);
  background-color:rgba(255,255,255,0.4);
  background-blend-mode:lighten;
 }

 .content-white{
  background-color: rgba(255,255,255,0.8);;
 }

 a {
  text-decoration: none;
  color: #000;
 }

 a:hover{
  text-decoration: none;
  color: gray;
 }

 #error_explanation {
  color: red;
 }

 #notice {
  color: green;
 }


 #alert {
  color: red;
 }

.genre_width {
 width: 250px;
 height: 30px;
}

.item_form {
  border-collapse: separate;
  border-spacing: 0px 8px;
}

.item-name {
 font-size: 20px;
}

.page_title{
 display: inline-block;
 font-size: 28px;
 padding: 2px 10px;
 background: linear-gradient(transparent 70%, #f2bdbd 70%);
}

.sub_title{
 font-size: 16px;
 color: #df5a5c;
}

.backcolor {
  background-color:#df5a5c;
}

.backcolor:hover {
 background-color:#df5a5c;
}

.backcolor-hover:hover {
 background-color:#df5a5c;
}

.backcolor-active {
 background-color:#d01120;
}

.pagination>li {
 height:35px;
 width:35px;
 border-radius:40%;
 line-height:35px;
 text-align:center;
}

.btn-red {
  color: #fff;
  background-color: #df5a5c;
  border-color: #df5a5c;
}

.btn-red:hover {
  color: #fff;
  background-color: #d93c3e;
  border-color: #d93c3e;
}

.btn-outline-red {
  color: #df5a5c;
  background-color: transparent;
  border-color: #df5a5c;
}

.btn-outline-red:hover {
  color: #fff;
  background-color: #df5a5c;
  border-color: #df5a5c;
}

// ラジオボタン変更の記述
 input[type=radio] {
 display: none;
}

 .radio_btn {
 cursor: pointer;
 display: inline-block;
 padding: 7px 32px;
 position: relative;
 width: auto;
}


.radio_btn::before {
 background: #EEEEEE;
 border: 1px solid #BBBBBB;
 box-shadow: 0 1px 4px rgba(0,0,0, .4) inset;
 border-radius: 50%;
 content: '';
 display: block;
 left: 7px;
 margin-top: -7px;
 position: absolute;
 top: 16px;
 height: 20px;
 width: 20px;
}

.radio_btn::after {
 background: #BBBBBB;
 border-radius: 50%;
 content: '';
 display: block;
 height: 16px;
 left: 7px;
 margin-top: -7px;
 opacity: 0;
 position: absolute;
 top: 16px;
 width: 16px;
 transform: scale3d(.3,.3,1);
 transition: transform .5s ease-in-out, opacity .5s ease-in-out;
}

.radio_btn:hover::before {
 transform: scale(1.2);
}

input[type=radio]:checked + .radio_btn::before {
 border-color: #df5a5c;
 background: #df5a5c;
 box-shadow: none;
}

input[type=radio]:checked + .radio_btn::after {
 width: 10px;
 height: 10px;
 background: #fff;
 transform: scale3d(1,1,1);
 opacity: 1;
 left: 12px;
 top: 21px;
}

.footerFixed{
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px;
    box-sizing: border-box;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-top: solid 1px lightgray;
}